/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 * 
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$highlight: #afd8a0;
$dark: #7bbe62;
$chosen: #62984e;
$nav-font-size: 18px;

body {
  position: relative;
  margin-top: 80px;
}

.btn-primary {
  background: $dark !important;
  border-color: $highlight !important;
}

.btn-primary:hover {
  background-color: $chosen !important;
  border-color: $highlight !important;
}

.btn-primary:active {
  background-color: $chosen !important;
  border-color: $highlight !important;
}

.btn-primary:focus {
  background-color: $chosen !important;
  border-color: $highlight !important;
}

a {
  color: $chosen;
}

a:hover {
  color: $dark;
}

.title-break {
  height: 10px;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
  border-color: $chosen;
}
.dropdown-menu {
  width:320px;
}

.dropdown-menu a:hover {
  background-color: $highlight 
}

.dropdown-item:not(:last-child) {
  border-bottom: 1px dotted grey;
}

.main-nav {
  z-index: 1000;
}

.fa-navicon {
  font-size: $nav-font-size; 
}

.nav-item {
  font-size: $nav-font-size; 
}

.navbar-lower {
  margin-top: 70px;
  z-index: 900;
  background-color: $dark;
  font-size: 18px;
}

.navbar-lower a:link.active {
  background-color: $chosen;
  color: white;
}

.navbar-lower a:hover {
  background-color: $highlight;
}

.navbar-lower a:link{
  background-color: $highlight;
  color: grey;
}

.navbar-lower-container {
  margin-top: 125px; 
}

.nav-bar-icon-btn {
  @extend .btn;
  @extend .btn-primary;
  font-size: 18px;
  margin-top: 5px;
  color: grey;
}

.toggle-link a:link{
  @extend .btn;
  font-size: 18px;
  margin-top: 5px;
  text-decoration: none;
  color: grey;
}

.toggle-link a:visited{
  text-decoration: none;
  color: grey;
}

.toggle-link a:focus{
  text-decoration: none;
  color: grey;
}

.toggle-link a:hover{
  background-color: $dark;
  text-decoration: none;
  color: grey;
}

.toggle-link a.active{
  text-decoration: none;
  color: white;
}

.alert {
    @extend .alert-danger;
}

.notice {
    @extend .alert;
    @extend .bg-success; 
    color: white;
}


#error_explanation
{   ul
    {
        list-style: none;
        margin: 0 0 18px 0;
        color: red
    }
}

.field_with_errors
{
  input {
    border: 2px solid red;
  }
}

.hidden {
  display: none;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: $chosen;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        padding-left: 250px;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
