<p>Hello <%= @resource.information.name %>!</p>

<p>Your Finlogic Portal account has been created.  You need to click the link below and change your password. You should then be automatically logged in.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
