<p>Hello <%= @resource.name %>!</p>

<p>Your Finlogic Portal account has been created.  You need to click the link below and change your password. You should then be automatically logged in.</p>

<p><%= link_to 'Change my password', MYCONFIG['hostname'] + "/" + edit_password_path(@resource, reset_password_token: @token) %></p>

